@model JavaFloral.Models.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-11"> Detail order: </div>
                    <div class="col-1">
                        <a asp-area="admin" asp-action="Index"><button class="btn btn-danger"><i class="fa fa-arrow-left"></i></button></a>
                    </div>
                </div>



            </header>

           

            <div>
               
                <dl class="row"  style="width: 90%; margin:30px auto 10px auto">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OrderName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OrderName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GrandTotal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GrandTotal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserID)
                    </dd>
                </dl>
            </div>
            <div>
                <div class="container">
                    <h6>List product in this order:</h6>
                </div>
               
                <table  style="width: 90%; margin:30px auto 10px auto">
                    <thead>
                        <tr>
                            <td>Product Image</td>
                            <td>Product Name</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    @*        <tbody>
                            @foreach(var item in Model.OrderProducts)
                            {
                            <tr>
                                <td>
                                    <img width="60px" height="60px" src="~/images/@item.Products.ProductImage" />
                                </td>
                                <td>
                                    @item.Products.Name
                                </td>
                                <td>
                                    @item.Products.Price
                                </td>


                            </tr>
                            }

                        </tbody>*@
                </table>
            </div>
        
            <div style="width: 87%; margin:20px auto">
                <a asp-area="admin" asp-action="Edit" asp-route-id="@Model.ID"><button class="btn btn-danger">Edit</button></a>

            </div>
        </section>

    </div>

</div>