@model JavaFloral.Models.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-11"> Detail order: </div>
                    <div class="col-1">
                        <a asp-area="admin" asp-action="Index"><button class="btn btn-danger"><i class="fa fa-arrow-left"></i></button></a>
                    </div>
                </div>



            </header>

           

            <div>
               
                <dl class="row" style="width: 90%; margin:30px auto 10px auto">

                    <dt class="col-sm-2">
                        Shipping Address :
                    </dt>
                    <dd class="col-sm-10">
                        @Model.address
                    </dd>
                    <dt class="col-sm-2">
                        Telephone :
                    </dt>
                    <dd class="col-sm-10">
                        @Model.telephone
                    </dd>
                    <dt class="col-sm-2">
                        Order Date :
                    </dt>
                    <dd class="col-sm-10">
                        @Model.CreateAt
                    </dd>
                    <dt class="col-sm-2">
                        Payment Type :
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.paymenttype == 1)
                        {
                            <span>Cash on delivery</span>
                        }
                        else
                        {
                            <span>Visa/BankCard</span>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Orders Status :
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Status == 0)
                        {
                            <span>Shipping Processing</span>
                        }
                        @if (Model.Status == 1)
                        {
                            <span>Complete</span>
                        }
                        @if(Model.Status == 2)
                        {
                            <span>Cancel</span>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Total Bill :
                    </dt>
                    <dd class="col-sm-10">
                        @Model.GrandTotal
                    </dd>
                    <dt class="col-sm-2">
                        Order Complete At :
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateAt)
                    </dd>


                </dl>
            </div>
            <div>
                <div  style="width: 90%; margin:30px auto 10px auto">
                    <span style="font-weight:bold;">List product in this order:</span>
                </div>
               
                <table  style="width: 90%; margin:30px auto 10px auto">
                    <thead style="height: 100px;">
                        <tr>
                            <td><span style="font-weight:bold;">Product image</span></td>
                            <td><span style="font-weight:bold;">Product name</span></td>
                            <td><span style="font-weight: bold;">Qty</span></td>
                            <td><span style="font-weight:bold;">Price</span></td>
                            <td><span style="font-weight:bold;">Total money</span></td>


                        </tr>
                    </thead>
                            <tbody>
                            @foreach(var item in Model.OrderProducts)
                            {
                                <tr>
                                    <td style="height: 100px;">
                                        <img width="60px" height="60px" src="~/images/@item.Products.ProductImage" />
                                    </td>
                                    <td>
                                        @item.Products.Name
                                    </td>
                                    <td>
                                        @item.Products.Price
                                    </td>


                                </tr>
                            }

                        </tbody>
                </table>
            </div>
        
        </section>

    </div>

</div>