@model IEnumerable<JavaFloral.Models.Orders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <section class="card">
        
            <div class="card-body">
                <form asp-action="Index" asp-controller="Orders" asp-area="admin">
    
                    <div class="form-row">
                        <div class="col-md-2">
                            <label for="validationCustom03">Telephone</label>
                            <input type="text" class="form-control" name="telephone" placeholder="telephone">

                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom04">Status</label>
                            <select name="status" class="form-control">
                                <option value="3">Processing</option>
                                <option value="1">Complete</option>
                                <option value="2">Cancel</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom04">Payment Type</label>
                            <select name="paymenttype" class="form-control">
                                <option value="1">Cash on delivery</option>
                                <option value="2">Visa/BankCard</option>

                            </select>
                        </div>
                   
                        <div class="col-md-1">
                            <button style="margin-top: 28px;" class="btn btn-primary" type="submit">Filter</button>
                        </div>
                    </div>
                    
                    
                </form>
            </div>
        </section>
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-11"> List Orders </div>

                </div>



            </header>
            <div class="container">

                <table class="table">
                    <thead>
                        <tr>
                            <td>Customer Name</td>
                            <th>
                                Shipping Address
                            </th>
                            <th>
                                Telephone
                            </th>
                            <th>
                                Order Date
                            </th>

                            <th>
                                Total Bill
                            </th>
                            <th>
                                Order Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.address
                            </td>
                            <td>
                                @item.telephone
                            </td>
                            <td>
                                @item.CreateAt
                            </td>

                            <td>
                                @Math.Round(item.GrandTotal) $
                            </td>
                            <td>
                                @if (item.Status == 3)
                                {
                                    <span class="badge badge-primary label-mini">Processing</span>

                                }
                                @if (item.Status == 2)
                                {

                                    <span class="badge badge-danger label-mini">Cancel</span>

                                }
                                @if (item.Status == 1)
                                {

                                    <span class="badge badge-success label-mini">Success</span>
                                }
                            </td>


                            <td>
                                <a class="btn btn-danger  btn-xs" asp-area="admin" asp-controller="orders" asp-action="Edit" asp-route-id="@item.ID" title="">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-success btn-xs" asp-area="admin" asp-controller="orders" asp-action="Details" asp-route-id="@item.ID" title="">
                                    <i class="fa fa-info-circle"></i>

                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </section>
    </div>

</div>



