@model List<JavaFloral.Models.Cart>
@{
    ViewData["Title"] = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Cart </li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65">
    <div class="container">
        <h3 class="page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                   
                    <div class="table-content table-responsive">
                        @if (Model.Count > 0)
                        {
                            decimal total = 0;
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total Money</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var totalMoney = item.quantity * item.product.Price;
                                        total += totalMoney;
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="~/images/@item.product.ProductImage" width="60px" height="60px" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">@item.product.Name</a></td>
                                            <td class="product-price-cart"><span class="amount">$@item.product.Price</span></td>
                                            <td class="product-quantity">
                                                <div class="pro-dec-cart">
                                                    <input asp-for="@item.quantity" id="@($"quantity-{item.product.ProductID}")" />
                                                </div>
                                            </td>
                                            <td class="product-subtotal">@totalMoney</td>
                                            <td class="product-remove">
                                                @*<button class="btn btn-success updatecartitem"
                                        data-productid="@cartitem.product.ProductId">
                                    Cập nhật
                                </button>*@
                                                @* <a asp-route="removecart" asp-route-productid="@cartitem.product.ProductId"
                                class="btn btn-danger">Xóa</a>*@



                                                <a data-productid="@item.product.ProductID" class="updatecartitem"><i class="fa fa-pencil"></i></a>
                                                <a asp-action="RemoveCart" asp-controller="HomeClient" asp-route-id="@item.product.ProductID"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                @section Scripts {
                                    <script>
              $(document).ready(function () {
                  $(".updatecartitem").click(function (event) {
                      event.preventDefault();
                      var productid = $(this).attr("data-productid");
                      var quantity = $("#quantity-" + productid).val();
                      $.ajax({
                          type: "POST",
                          url:"@Url.Action("UpdateCart")",
                          data: {
                              productid: productid,
                              quantity:quantity
                          },
                          success: function (result) {
                              window.location.href = "@Url.Action("CartPage")";
                          }
                      });
                  });
              });
                                    </script>
                                }
                        }

                        else
                        {
                            <p>Empty Product</p>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a asp-controller="HomeClient" asp-action="Product">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                  
                                    <a asp-controller="HomeClient" asp-action="ClearAllCart">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                    
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!--<div class="discount-code-wrapper">-->
                       @*     <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                            </div>*@
                            <!--<div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            @if (Model.Count > 0)
                            {
                                decimal total = 0;
                                @foreach (var item in Model)
                                {
                                    var totalMoney = item.quantity * item.product.Price;
                                    total += totalMoney;

                                }
                                <h5>Total Money :  <span>$@total</span></h5>
                                <h4 class="grand-totall-title">Grand Total  <span>$@total</span></h4>
                                <a asp-action="CheckOut" asp-controller="HomeClient">Proceed to Checkout</a>
                            }
                            else
                            {
                                <h5>$0</h5>
                                <a asp-action="CheckOut" asp-controller="HomeClient">Proceed to Checkout</a>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
