@model JavaFloral.Models.ProductDetailViewModel

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rating {
        float: left;
    }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0,0,0,0);
        }

        .rating:not(:checked) > label {
            float: right;
            width: 1em;
            padding: 0 .1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 150%;
            line-height: 1.2;
            color: silver;
            
          
           
        }

            .rating:not(:checked) > label:before {
                content: '★';
               
            }

        .rating > input:checked ~ label {
            color: #ff3d2a;
            
          
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #ff3d2a;
            
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ff3d2a;
           
        }

        .rating > label:active {
            position: relative;
            top: 2px;
            left: 2px;
        }

    /* end of Lea's code */

    /*
 * Clearfix from html5 boilerplate
 */

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .clearfix:after {
        clear: both;
    }

    /*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

    .clearfix {
        *zoom: 1;
    }

    /* my stuff */
    #status, button {
        margin: 20px 0;
    }

</style>
<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Product Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details pt-75 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-img">
                    <img class="zoompro" src="~/images/@Model.product.ProductImage" data-zoom-image="~/images/@Model.product.ProductImage" alt="zoom" />
                    <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l1.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl1.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s1.jpg" alt="">
                        </a>
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l2.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl2.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s2.jpg" alt="">
                        </a>
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l3.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl3.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s3.jpg" alt="">
                        </a>
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l4.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl4.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s4.jpg" alt="">
                        </a>
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l5.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl5.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s5.jpg" alt="">
                        </a>
                        <a data-image="~/ClientFile/assets/img/product-details/product-detalis-l2.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl2.jpg">
                            <img src="~/ClientFile/assets/img/product-details/product-detalis-s2.jpg" alt="">
                        </a>
                    </div>
                    @if (Model.product.Discount > 0)
                    {
                        <span>-@Model.product.Discount%</span>
                    }

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h4>@Model.product.Name</h4>
                    <div class="rating-review">
                        <div class="pro-dec-rating">
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline"></i>
                        </div>
                        <div class="pro-dec-review">
                            <ul>
                                <li>@Model.product.CommentProducts.Count() Reviews </li>
                                <li> Add Your Reviews</li>
                            </ul>
                        </div>
                    </div>
                    @if (Model.product.Discount > 0)
                    {
                        <span style="text-decoration : line-through">$@Model.product.Price</span>
                    }
                    else
                    {
                        <span>$@Model.product.Price</span>
                    }



                    @if (Model.product.Discount > 0)
                    {
                <span style="color: red">
                    $@(Model.product.Price - (Model.product.Price * Model.product.Discount)/100)

                </span>
                    }

                    <div class="in-stock">
                        <p>Available: <span>@Model.product.Qty product</span></p>
                    </div>
                    <p>@Model.product.Description</p>
                    <div class="pro-dec-feature">
                        <ul>
                            <li>Color: <span> @Model.product.Color</span></li>
                            <li>Smell: <span>@Model.product.Smell</span></li>

                        </ul>
                    </div>
                    <div class="quality-add-to-cart">
                        <div class="quality">
                            <label>Qty:</label>
                            <input class="cart-plus-minus-box" id="qtyproduct" type="number" value="1">
                        </div>
                        <div class="shop-list-cart-wishlist">
                            <a title="Add To Cart" data-name="@Model.product.Name" data-id="@Model.product.ProductID" onclick="addToCart(this)"
                               onMouseOver="this.style.color='#ffff'"
                               onMouseOut="this.style.color='#242424'"
                               style="cursor: pointer;">
                                <i class="icon-handbag" style="font-size: 20px;"></i>
                            </a>
                            <a title="Wishlist" onclick="addWishList(this)" data-id="@Model.product.ProductID"
                               onMouseOver="this.style.color='#ffff'"
                               onMouseOut="this.style.color='#242424'"
                               style="cursor: pointer;">
                                <i style="font-size: 20px;" class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="pro-dec-categories">
                        <ul>
                            <li class="categories-title">Categories:</li>
                            <li><a asp-controller="HomeClient" asp-route-id="@Model.product.Category.Categoryid" asp-action="Product">@Model.product.Category.Name</a></li>


                        </ul>
                    </div>
                    <div class="pro-dec-social">
                        <ul>
                            <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
                            <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
                            <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a></li>
                            <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-70">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav text-center">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>

                <a data-toggle="tab" href="#des-details3">Review</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        @Html.Raw(Model.product.Content)
                       
                    </div>
                </div>

                <div id="des-details3" class="tab-pane">
                    <div class="rattings-wrapper">
                        @foreach (var item in Model.product.CommentProducts)
                        {
                            <div class="sin-rattings">
                                <div class="star-author-all">
                                    <fieldset class="rating">
                                        <div class="ratting-star f-left">
                                           
                                            @for (var i=0; i < item.Comment.rating; i++)
                                            {


                                                @* <input type="radio" style="background-color : yellow !important" id="@item.Comment.rating" name="rating" value="@item.Comment.rating" /><label for="@item.Comment.rating" title="Rocks!">@item.Comment.rating stars</label>*@
                                                <i class="ion-star theme-color"></i>
                                            }
                                            <span>(@item.Comment.rating)</span>
                                        </div>

                                    </fieldset>
                                    <div class="ratting-author f-right">
                                        <h3>@item.Comment.UserID</h3>
                                        <span>@item.Comment.CommentTime.ToString("HH:mm:ss")</span>
                                        <span>@item.Comment.CommentTime.ToString("yyyy-MM-dd")</span>
                                    </div>
                                </div>
                                <p>@item.Comment.Message</p>
                            </div>
                        }

                    </div>
                    <div class="ratting-form-wrapper">
                        <h3>Add your Comments :</h3>
                        <div class="ratting-form">
                            <form asp-action="Comment" asp-controller="HomeClient">
                               
                                <div class="star-box">
                                        <h2>Rating:</h2>
                                        <div style="display:none;" id="status"></div>
                                       
                                            <fieldset class="rating">

                                                <input onchange="getStar()" type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                                <input onchange="getStar()" type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                                <input onchange="getStar()" type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                                <input onchange="getStar()" type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                                <input onchange="getStar()" type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                            </fieldset>
                                        
                                      



                                    </div>
                              
                              
                                <div class="container-fluid" style="margin-top: 100px;">
                                    <div class="col-md-12">
                                        <div class="rating-form-style form-submit">
                                            <input type="hidden" name="productID" value="@Model.product.ProductID" />
                                            <textarea name="message" placeholder="Message"></textarea>
                                            <input type="submit" value="add review">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
</div>
@*<h4 style="margin-left: 40px" class="blog-dec-title">Comments : @Model.CommentProducts.Count()</h4>*@
@*<div class="blog-comment-wrapper mt-55 container">
        @foreach (var item in Model.CommentProducts)
        {
            <div class="single-comment-wrapper mt-35">

                <div class="blog-comment-content">
                    <h4>@item.Comment.UserID</h4>
                    <span>@item.Comment.CommentTime</span>
                    <p>@item.Comment.Message</p>

                </div>
            </div>
            @foreach (var ans in item.Comment.CommentAnswers)
            {
                <div class="single-comment-wrapper mt-50 ml-125">

                    <div class="blog-comment-content">
                        <h4>@ans.Answer.UserID</h4>
                        <span>@ans.Answer.AnswerTime </span>
                        <p>@ans.Answer.Message</p>

                    </div>
                </div>
            }
    <form asp-controller="HomeClient" asp-action="Answer" style="padding: 10px 0 10px 0">
        <input type="hidden" name="CommentID" value="@item.CommentID" />
        <div class="form-group row">
            <div class="col-lg-6 col-md-7">
                <input type="text" name="message" class="form-control" />

            </div>
            <div class="col-lg-6 col-md-5">
                <button type="submit" style="padding: 20px" class="btn btn-primary"><i style="position: relative; bottom: 12px" class="fa fa-mail-reply-all"></i></button>

            </div>
        </div>


    </form>

        }


    </div>
    <div class="blog-reply-wrapper mt-50 container" style="margin-bottom: 30px">
        <h4 class="blog-dec-title">Give a comment</h4>
        <form asp-action="Comment" asp-controller="HomeClient">
            <div class="row">

                <div class="col-md-12">
                    <div class="text-leave">
                        <input type="hidden" name="productID" value="@Model.ProductID" />
                        <textarea name="message" cols="10" rows="2" placeholder="Message"></textarea>
                        <input type="submit" value="SEND MASSAGE">
                    </div>
                </div>
            </div>
        </form>
    </div>*@
<div class="product-area pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-35">
            <div class="section-title-wrap">
                <h3 class="section-title section-bg-white">Related Products</h3>
            </div>
        </div>
        <div class="featured-product-active hot-flower owl-carousel product-nav">
            @foreach (var item in Model.RelativeProduct)
            {
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img alt="" src="~/images/@item.ProductImage">
                        </a>
                        @if (item.Discount > 0)
                        {
                            <span>-@item.Discount%</span>
                        }
                        
                        <div class="product-action">
                            <a class="action-wishlist" href="#" title="Wishlist">
                                <i class="icon-heart"></i>
                            </a>
                            <a data-id="@item.ProductID" data-name="@item.Name" onclick="addToCart(this)"
                               onMouseOver="this.style.color='#ffff'"
                               onMouseOut="this.style.color='#242424'"
                               style="cursor: pointer;">
                                <i class="icon-handbag"></i>
                            </a>

                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h4>
                            <a asp-route-id="@item.ProductID" asp-controller="HomeClient" asp-action="ProductDetail">@item.Name</a>
                        </h4>
                        <div class="product-price-wrapper">
                            
                            @if (item.Discount > 0)
                            {
                            <span>
                                $@(item.Price - (item.Price * item.Discount)/100)

                            </span>
                                <span class="product-price-old">$@item.Price </span>
                            }
                            else
                            {
                                <span>$@item.Price </span>
                                <span class="product-price-old">$@item.Price </span>
                            }
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>
<script type="text/javascript">
    function addToCart(e) {
        let productID = $(e).attr("data-id");
        let productName = $(e).attr("data-name");
        let qty = $("#qtyproduct").val();
        console.log(qty);
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '@Url.Action("AddToCart")',
            data: {
                id: productID,
                quantity : qty,

            },
            success:
                function (response) {
                    if (response.status == "true") {
                        alert("Add To Cart Successfully Product : " + productName)
                    }
                    if (response.status == "outofstock") {
                        alert("Out of quantity please try again")
                    }

                },
            error:
                function (response) {

                }

        });
    }
    function addWishList(e) {
        let productID = $(e).attr("data-id");
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '@Url.Action("AddWishList")',
            data: {
                id: productID,
         

            },
            success:
                function (response) {
                    if (response.status == "true") {
                        alert("Add To WishList Successfully");
                    }
                    if (response.status == "exists") {
                        alert("Item is already in wish list");
                    }
                  

                },
            error:
                function (response) {

                }

        });
    }
</script>


