@model JavaFloral.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area gray-bg">
    <div class="container"> 
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop  </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-page-area pt-75 pb-75">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="banner-area pb-30">
                    <a href="product-details.html"><img alt="" src="~/ClientFile/assets/img/banner/banner-49.jpg"></a>
                </div>
                <div class="shop-topbar-wrapper">
                    <div class="shop-topbar-left">
                        <ul class="view-mode">
                            <li class="active"><a href="#product-grid" data-view="product-grid"><i class="fa fa-th"></i></a></li>
                            <li><a href="#product-list" data-view="product-list"><i class="fa fa-list-ul"></i></a></li>
                        </ul>
                        <p>Showing 1 - 20 of 30 results  </p>
                    </div>
                    <div class="product-sorting-wrapper">
               
                        <div class="product-show shorting-style">
                         
                            <form asp-action="Product" asp-controller="HomeClient">
                                <select name="soft">

                                    <option value="Name"> Name</option>
                                    <option value="Price"> price</option>
                                </select>
                                <button class="btn btn-primary btn-sm" type="submit">Soft</button>
                            </form>
                          
                        </div>
                    </div>
                </div>
                <div class="grid-list-product-wrapper">
                    <div class="product-grid product-view pb-20">
                        <div class="row">
                            @foreach (var product in Model.Products)
                            {
                                <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                    <div class="product-wrapper">
                                        <div class="product-img">
                                            <a asp-controller="HomeClient" asp-action="ProductDetail" asp-route-id="@product.ProductID">
                                                <img alt="" src="~/images/@product.ProductImage">
                                            </a>
                                            <span>-30%</span>
                                            <div class="product-action">
                                                <a class="action-wishlist" href="#" title="Wishlist">
                                                    <i class="icon-heart"></i>
                                                </a>
                                                <a data-id="@product.ProductID" data-name="@product.Name" onclick="addToCart(this)" 
                                                   onMouseOver="this.style.color='#ffff'"
                                                   onMouseOut="this.style.color='#242424'"  
                                                   style="cursor: pointer;"
                                                   >
                                                    <i class="icon-handbag"></i>
                                                </a>
                                                <a class="action-compare" href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                    <i class="icon-magnifier-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h4>
                                                <a asp-controller="HomeClient" asp-action="ProductDetail" asp-route-id="@product.ProductID">@product.Name</a>
                                            </h4>
                                            <div class="product-price-wrapper">
                                                <span>$@product.Price </span>
                                                <span class="product-price-old">$@product.Price </span>
                                            </div>
                                        </div>
                                        <div class="product-list-details">
                                            <h4>
                                                <a href="product-details.html">@product.Name</a>
                                            </h4>
                                            <div class="product-price-wrapper">
                                                <span>$@product.Price </span>
                                                <span class="product-price-old">$@product.Price  </span>
                                            </div>
                                            <p>$@product.Description </p>
                                            <div class="shop-list-cart-wishlist">
                                                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                <a href="#" title="Add To Cart"><i class="icon-handbag"></i></a>
                                                <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                    <i class="icon-magnifier-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }



                        </div>
                    </div>
                    <div class="pagination-total-pages">
                        <div class="pagination-style">
                            <ul>
                                <li><a class="prev-next prev" href="#"><i class="ion-ios-arrow-left"></i> Prev</a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li><a class="prev-next next" href="#">Next<i class="ion-ios-arrow-right"></i> </a></li>
                            </ul>
                        </div>
                        <div class="total-pages">
                            <p>Showing 1 - 20 of 30 results  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                    <div class="shop-widget">
                        <h4 class="shop-sidebar-title">Shop By Categories</h4>
                        <div class="shop-catigory">
                            <ul id="faq">
                                <li>
                                   
                                    <ul id="shop-catigory-1" class="panel-collapse collapse show">
                                            <li><a asp-controller="HomeClient" asp-action="Product" asp-route-id="0">All</a></li>
                                        @foreach (var items in Model.Categories)

                                        {
                                            <li><a asp-controller="HomeClient" asp-action="Product" asp-route-id="@items.Categoryid">@items.Name</a></li>
                                          
                                        }
                                   


                                    </ul>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    @*<div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">Price Filter</h4>
                        <div class="price_filter mt-25">
                            <span>Range:  $100.00 - 1.300.00 </span>
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div>*@
                   
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">By Color</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Black">Black </a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Blue">Blue </a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Pink">Pink </a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Violet">Violet </a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Red">Red</a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="White">White  </a></li>
                                <li><a asp-action="Product" asp-controller="HomeClient" asp-route-color="Yellow">Yellow   </a></li>
                            </ul>
                        </div>
                    </div>
                 
             
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addToCart(e) {
        let productID = $(e).attr("data-id");
        let productName = $(e).attr("data-name");
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '@Url.Action("AddToCart")',
            data: { id: productID },
            success:
                function (response) {
                    if (response.status == "true") {
                        alert("Add To Cart Successfully Product : " + productName)
                    }
                
                },
            error:
                function (response) {
                  
                }

        });
    }
</script>

