@model JavaFloral.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-11"> Delete Product: </div>
                    <div class="col-1">
                        <a asp-area="admin" asp-action="Index"><button class="btn btn-danger"><i class="fa fa-arrow-left"></i></button></a>
                    </div>
                </div>



            </header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">





                        <div>

                            <dl class="row"  style="width: 90%; margin:40px auto">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ProductImage)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ProductImage)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Color)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Color)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Qty)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Qty)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Price)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Price)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Smell)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Smell)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Created_at)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Created_at)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Updated_at)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Updated_at)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Category.Name)
                                </dd>
                            </dl>

                            <form asp-area="admin" asp-action="Delete" class="container" style="width: 90%; margin:40px auto ">
                                <input type="hidden" asp-for="ProductID" />
                                <input type="submit" value="Delete" class="btn btn-danger" />

                            </form>
                        </div>
                        <div>


                        </div>


                    </div>
                </div>





            </div>


        </section>

    </div>

</div>
